{% extends 'rango/base_bootstrap.html' %}
{% load crispy_forms_tags %}

{% block title_block %} - Adicionar categoria {% endblock title_block %}

{% block body_block %}
        <h1>Adicionar categoria</h1>
        <div>
            <form id="category_form" method="post" action="{% url 'add_category' %}">
                <h4 class="form-signin-heading">Adicionar categoria</h4><br>

                {% csrf_token %}

                {{ form|crispy }}

                <br>
                <button class="btn btn-primary" type="submit" name="submit">Criar categoria</button>

            </form>
        </div>
{% endblock body_block %}
