<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}

<html>

    <head>
        <title>
            Rango
            {% block title_block %}
                - How to Tango with Django!
            {% endblock title_block %}
        </title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
            hey there partner! <br /><br />
        </div>

        <div>
            {% block body_block %}

            {% endblock body_block %}
        </div>

        <div>
            {% block sidebar_block %}
                {% get_category_list category %}
            {% endblock sidebar_block %}
        </div>

        <hr>
        <div>
            <a href="{% url 'index' %}">Página inicial</a><br />
            <a href="{% url 'about' %}">About</a><br />
            <a href="{% url 'add_category' %}">Adicionar categoria</a><br />
            <a href="/admin">Django - Admin</a><br />
            <br>
        </div>
    </body>

</html>