<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}

<html>
    <head>
        <title>
            Rango
            {% block title_block %}
                - How to Tango with Django!
            {% endblock title_block %}
        </title>
    </head>

    <body>
        <h1>Rango says...</h1>
        {% if user.is_authenticated %}
            <div>
                olá, {{ user.username }}! <br /><br />
                <p><a href="{% url 'logout' %}">Sair</a></p>
            </div>
        {% else %}
            <div>
                hey there partner! <br /><br />
            </div>
        {% endif %}

        <div>
            {% block body_block %}

            {% endblock body_block %}
        </div>

        <div>
            {% block sidebar_block %}
                {% get_category_list category %}
            {% endblock sidebar_block %}
        </div>

        <hr>
        <div>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'restricted' %}">Conteúdo exclusivo</a><br /></li>
                    <li><a href="{% url 'logout' %}">Logout</a><br /></li>
                    <li><a href="{% url 'add_category' %}">Adicionar categoria</a><br /></li>
                    <li><a href="/admin">Django - Admin</a><br /></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Cadastre-se</a><br /></li>
                    <li><a href="{% url 'login' %}">Entrar</a><br /></li>
                {% endif %}
                <li><a href="{% url 'index' %}">Página inicial</a><br /></li>
                <li><a href="{% url 'about' %}">Sobre</a><br /></li>
            </ul>





            <br>
        </div>
    </body>
</html>