<!DOCTYPE html>

{% extends 'rango/base_bootstrap.html' %}

{% block title_block %} - Categoria: {{ category.name }} {% endblock %}

{% block body_block %}
    {% if category %}
        <h1 class="display-4">
            {{ category.name }}

            {% if logado %}
                <button id="likes" data-catid="{{ category.id }}" type="button" class="btn btn-primary float-right">
                    <ion-icon name="thumbs-up"></ion-icon> Curtir
                </button>
            {% endif %}
        </h1>

        <h4>
            <div class="d-flex bd-highlight" align="center">
                <div class="p-3 w-50 flex-fill bd-highlight">
                    <ion-icon name="thumbs-up"></ion-icon>&nbsp<label id="like_count">{{ category.likes }}</label> curtidas
                </div>
                <div class="p-3 w-50 flex-fill bd-highlight">
                    <ion-icon name="tv"></ion-icon>&nbsp{{ category.views }} visualizações
                </div>
            </div>
        </h4>

        {% if pages %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">URL</th>
                        <th scope="col">Views</th>
                    </tr>
                </thead>

                <tbody>
                    {% for page in pages %}
                        <tr>
                            <td>{{ page.title }}</td>
                            <!--<td><a href="{{ page.url }}" target="_blank">{{ page.url }}</a></td>-->
                            <td><a href="{% url 'goto' page.id %}" target="_blank">{{ page.url }}</a></td>
                            <td>{{ page.views }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if logado %}
                <a href="{% url 'add_page' category.slug %}">
                    <button type="button" class="btn btn-primary float-right">
                        <ion-icon name="add"></ion-icon> Adicionar página
                    </button>
                </a>
            {% endif %}
        {% else %}
            <div class="alert alert-warning" role="alert">
                <strong>
                    <h5>
                        <p>Não existem páginas relacionadas a esta categoria.</p>
                        {% if logado %}
                            <p>Clique
                            <a href="{% url 'add_page' category.slug %}" class="alert-link">aqui</a> para adicionar uma página em "{{ category.name }}"</p>
                        {% endif %}
                    </h5>
                </strong>
            </div>
        {% endif %}

    {% else %}
        <div class="alert alert-danger" role="alert">
            <h2>A categoria solicitada não existe.</h2>
            <br>
            <p>Clique <a href="{% url 'add_category' %}" class="alert-link">aqui</a> para adicionar uma categoria</p>
        </div>
    {% endif %}
{% endblock %}