<h3 align="center">Categorias</h3>
<ul class="list-group">
    {% if cats %}
        {% for c in cats %}
            {% if c == act_cat %}
                <li class="list-group-item"><strong><a href="{% url 'show_category' c.slug %}">{{ c.name }}</a></strong></li>
            {% else %}
                <li class="list-group-item"><a href="{% url 'show_category' c.slug %}">{{ c.name }}</a></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <strong>Não existem categorias</strong>
    {% endif %}

</ul>
