<!DOCTYPE html>
<html>

    {% load staticfiles %}

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
            hey there partner! <br /><br />
        </div>

        <div>
            <h3>Categorias mais curtidas</h3>
        {% if categories %}
            <ul>
               {% for category in categories %}
                    <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a> - {{ category.likes }} likes</li>
               {% endfor %}
            </ul>

        {% else %}

            <h4>Não existem categorias cadastradas.</h4>

        {% endif %}

        </div>

        <div>
            <h3>Páginas mais visualizadas</h3>
        {% if pages %}
            <ul>
               {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a> - {{ page.views }} views</li>
               {% endfor %}
            </ul>

        {% else %}

            <h4>Não existem páginas para essa categoria.</h4>

        {% endif %}

        </div>

        <div>
            <a href="{% url 'add_category' %}">Adicionar categoria</a><br />
            <a href="/rango/about/">About</a><br />
            <br>
            <img width="400px" height="400px" src="{% static 'images/rango.jpg' %}" alt="Picture of Rango"/>
        </div>
    </body>

</html>