{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="jumbotron">
        <h1 class="display-3"><strong>Rango says...</strong></h1>
        {% if user.is_authenticated %}
            <div>
                <h1>
                    <p class="lead">Olá, {{ user.username }}! <br /><br />
                </h1>
                <a href="{% url 'logout' %}">Sair</a></p>
            </div>
        {% else %}
            <div>
                <h3>hey there partner! <br /><br /></h3>
            </div>
        {% endif %}
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row marketing">

            <div class="col-lg-6">

                <h3>Categorias mais curtidas</h3>
                {% if categories %}

                    <ul class="list-group">
                       {% for category in categories %}
                            <a href="{% url 'show_category' category.slug %}"><li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ category.name }}
                                <span class="badge badge-primary badge-pill">
                                    <ion-icon name="eye"></ion-icon>
                                    {{ category.likes }}
                                </span>
                            </li></a>
                       {% endfor %}
                    </ul>

                {% else %}

                    <h4>Não existem categorias cadastradas.</h4>

                {% endif %}
            </div>

            <div class="col-lg-6">
                <h3>Páginas mais visualizadas</h3>
            {% if pages %}

                <ul class="list-group">
                   {% for page in pages %}
                        <a href="{{ page.url }}" target="_blank"><li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ page.title }}
                            <span class="badge badge-primary badge-pill">
                                <ion-icon name="eye"></ion-icon>
                                {{ page.views }}
                            </span>
                        </li></a>
                   {% endfor %}
                </ul>

            {% else %}

                <h4>Não existem páginas para essa categoria.</h4>

            {% endif %}

            </div>
        </div>
    </div>

    <br><br>

    <div align="center">
        <img width="400px" height="400px" src="{% static 'images/rango.jpg' %}" alt="Picture of Rango"/>
    </div>

{% endblock body_block %}
