{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    - Login
{% endblock %}

{% block body_block %}

    <link rel="stylesheet" href="{% static 'css/signin.css' %}">

    <div align="center">
        <form class="form-signin" id="form_login" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <img class="mb-4" src="{% static 'images/twd200x200.jpg' %}" alt="" width="128" height="128">

            <h1 class="h3 mb-4 font-weight-normal">Faça login</h1>
            <label for="inputUser" class="sr-only">Nome de usuário</label>
            <input type="text" name="username" value="" size="50" id="inputUser" class="form-control" placeholder="Nome de usuário" required autofocus>

            <label for="inputPassword" class="sr-only">Senha</label>
            <input type="password" name="password" value="" size="50" id="inputPassword" class="form-control" placeholder="Senha"
                   required>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Lembrar de mim
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit">Login</button>
            <br><p>Não tem cadastro? <a href="{% url 'register' %}">Registre-se</a></p>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>
    </div>
{% endblock %}
